/* styles.css */

.color1 {color: #091a0e;}
.color2 {color: #253628;}
.color3 {color: #485a52;}
.color4 {color: #7c8d6f;}
.color5 {color: #bbc3a2;}
body {
    margin: 0;
    padding: 0;
    background-color:#232c24;
    color: #253628;
}

header {
    
    font-style:italic !important;
    background-color:#868c8e;
    color: #eeeeeefc;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 3px solid #000000;
}

h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav {
    display: flex;
    gap: 15px;
}

.btn {
    background-color: #868c8e;
    color: #000000  ;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
    background-color: #868c8e;
    transform: scale(1.05);
}

.logo{

    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;

}

.banner {

    background-color:#d3d1c9;
    justify-content:flex-end;
    align-items:self-start;
    text-align:end; 
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.banner h2 {
    
    align-items:self-start!important;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.banner p {
    font-size: 20px;
    margin-top: 10px;
}

.sobre {
    padding: 60px;
    text-align: center;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.sobre h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #1c1c1c;
}

.sobre p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background-color: #1c1c1c;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    border-top: 3px solid #b17991;
}